body {
  color: rgb(86, 86, 86);
  font-family: Outfit;
  font-size: 14px;
}
h1 {
  color: rgb(40, 40, 40);
  font-family: "Young Serif";
  font-weight: normal;
}
h2 {
  color: #854632;
  font-family: "Young Serif";
}
h3 {
  color: #7b284f;
}
